@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    min-height: 100vh;
    min-width: 100%;
    margin: 0 auto;
    background: linear-gradient(60deg, rgba(244, 129, 30, 0.2), white, rgba(25, 20, 20, 0.1), white, rgba(244, 129, 30, 0.2));
    background-size: 300% 100%;
    animation: gradient 10s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

#first-div {
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
    padding: 10px 0;
    transition: top 0.5s;
    background-color: rgba(255, 255, 255, 0.9);
    border-top: 1px solid rgb(244, 129, 30);
    border-bottom: 1px solid rgb(244, 129, 30);
    /* background-color: rgb(244,129,30); */
}



#inner-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* media query for screens smaller than 768px */
@media (max-width:768px) {
    #first-div {
        padding: 5px 25px;
        background-color: rgba(255, 255, 255, 0.9);
        border-top: none;
        border-bottom: none;

    }

    #inner-header {
        justify-content: space-between;
    }

    /* hide menu on small screens*/
    .nav-header {
        display: none;
    }

    #cntusbtn {
        display: block;
    }
}

.nav-header {

    /* display: flex;
    flex-direction: row; */
    /* align-items: center;
    justify-content: space-around; */
    background: #ece5e5;
    /* padding: 5px 0; */
}

.nav-logo {}

#imglogo {
    max-height: 70px;
}

#cntusbtn {
    width: max-content;
    color: white;
    background-color: rgba(244, 129, 30, 0.9);
    padding: 7px 45px;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    border-radius: 30em;
}


.home-sect {
    margin: 7% auto;
    margin-top: 8.5%;
    
    width: 95%;
    height: 80vh;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: url("/assets/images/woro.avif");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #fff;
    border-radius: 6px;
    padding: 20px  1em 1em 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

}

.about-sect {
    margin: 5% 15%;
}


.service-sect {
    margin: 7% auto;
    width: 90vw;
}

#futer-ul>li>a {
    color: white;
    text-decoration: none;
}



.services {
    background: #fff;
    border-radius: 6px;
    padding: 20px 60px 30px 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.services #onoffer {
    min-width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 2em;
    /* background: url("assets/hikvision-authorised-dealer-logo.png") -10px center/cover no-repeat; */
}

.nav-header .menu {
    display: flex;
    flex-direction: row;
    background-color: #fff;
}

details {
    border: 1px solid;
    padding: 0 1rem;
    background: white;
}

details+details {
    border-top: none;
}

details[open] {
    padding-bottom: 1em;
}

summary {
    position: relative;
    padding: 1rem 2em 1rem 0;
    font-size: 1.25rem;
    font-weight: bold;
    cursor: pointer;
}

summary::marker {
    content: none;
}

summary::before,
summary::after {
    content: '';
}

summary::before,
summary::after {
    width: .75em;
    height: 0;
    border-bottom: 2px solid;
    position: absolute;
    top: calc(50% - 1px);
    right: 0;
    transform: translateY(-50%);
    transition: 200ms;
}

summary::after {
    transform: rotate(90deg);
    transform-origin: 50% 50%;
}

[open] summary::after {
    transform: rotate(0deg);
}

.nav-header .menu li {
    list-style: none;
    padding: 10px 22px;
    margin: 0px 5px;
}

.nav-header .menu li a:hover {
    color: rgb(14, 13, 13);
}

.nav-header .menu li a:hover:not(active) {
    background-color: #fff;
}

.nav-header .menu li a {
    color: #f4811e;
    font-size: 23px;
    font-weight: 800;
    text-decoration: none;
}

.nav-header .menu li a.active {
    background-color: #222;
}

.landing {
    max-width: 80%;
    margin: 0 auto;
    margin-top: -7.5em;
    text-transform: uppercase;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    /* padding: 0 10%; */
    padding: 2em 1em;
    color: #fff;
    border-radius: 6px;
    background: -webkit-linear-gradient(30deg, #f32170, #ff6b08, black, #ff6b08, #f32170);
    background-color: rgba(0, 0, 0, 0.7);
    /* animation: gradient 15s ease infinite;
    /* );#cf23cf, #eedd44 */
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-shadow: 5px 8px rgba(128, 128, 128, 0.2);
    font-weight: 800;
}

@media screen and (max-width:490px){
    .landing {
        padding-top: 9.5em;
    }
}

.landing h1 {
    
    font-weight: 900;
    margin-bottom: 0.5em;
}

.landing h3 {
  
    font-weight: 900;
}


#landingimg {

    max-width: 100%;
    background-color: #fff;
}

@media (max-width: 768px) {
    .landing {
        max-width: 90%;
    }
}

.about-us {
    text-align: center;
    padding: 50px;
    color: white;
    background: rgb(13, 15, 13);
    /* background: linear-gradient(360deg, orange 10%, white 100%); */
}

.about-us>h1 {
    font-size: 2.5rem;
}

.about-us>h3 {
    font-size: 1.5rem;
}

.about-us>h4 {
    font-size: 1rem;
}

/* Media query for screens smaller than 768px */
@media (max-width: 768px) {
    .about-us {
        padding: 10px;
    }

    .about-us h1 {
        font-size: 2rem;
    }

    .about-us h3 {
        font-size: 1.2rem;
    }

    .about-us h4 {
        font-size: 0.9rem;
    }
}

.contact-sect {
    width: 90%;
    margin: 4% auto;
}

.container {
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    display: flex;  
    align-items: center;
    justify-content: space-around;
    padding: 2em 3em;
}



.left-side{
    width: 30%;
    height: 100%;
    margin-right: 2.5em;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    position: relative;
}

@media only screen and (max-width:554px){
    .left-side {
        margin-right: 5em;
    }
}

/* .left-side::before {
    content: '';
    position: absolute;
    height: 70%;
    width: 2px;
    right: -35px;
    top: 50%;
    transform: translateY(-50%);
    background: #afafb6;
} */


.left-side > .details {
    display:flex;
    flex-flow:column wrap;
    margin: 14px 0;
    text-align: center;
}

.left-side .details i {
    font-size: 30px;
    color: #F4811E;
    margin-bottom: 10px;
}

.left-side .details .topic {
    font-size: 18px;
    font-weight: 800;
}

.left-side .details .text-one,
.left-side .details .text-two {
    font-size: 14px;
    color: #afafb6;
}

.right-side {
    width: 70%;
    margin-left: 3.5em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items:flex-start;
    justify-content:center;
    position: relative;
}

.right-side .topic-text {
    font-size: 23px;
    font-weight: 600;
    color: rgb(244, 129, 30);
}

.right-side .input-box {
    height: 50px;
    width: 100%;
    margin: 12px 0;
}

.right-side .input-box input,
.right-side .input-box textarea {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    background: #F0F1F8;
    border-radius: 6px;
    padding: 0 15px;
    resize: none;
}

.right-side .message-box {
    min-height: 100px;
}

.right-side .input-box textarea {
    padding-top: 6px;
}

.right-side .button {
    display: inline-block;
    margin-top: 12px;
}

.right-side .button input[type="submit"] {
    color: #fff;
    font-size: 18px;
    outline: none;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    background: rgb(244, 129, 30);
    cursor: pointer;
    transition: all 0.3s ease;
}

.button input[type="submit"]:hover {
    background: #16073f;
}

@media only screen and(max-width:768px) {
    .container {
        flex-direction: column;
        text-align: center;
    }    
}

@media only screen and (max-width:480px){
    .container {
        display:flex;
        flex-direction: column;
    }

    .left-side{
        display:flex;
        flex-flow:row wrap;
        margin-right:0;
    }

    .right-side{
        font-size:0.7em;
    }
} 



#kit4,
#kit8 {
    display: grid;
    grid-template-areas: "a a a";
    gap: 5px;
    grid-auto-columns: auto;
    grid-auto-rows: auto;
}

#otherkit {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(auto, 1fr));
    grid-gap: 5px;

    /* grid-auto-flow: column; */
    /* gap: calc(var(--gap)/2); */
    /* margin: 0; */
    /* overflow-x: auto;
    overscroll-behavior-inline: contain; */
}

#productsdiv {
    margin: 10px 0px;
    border: 2px solid #fff;
}

#otherkit>li {
    display: inline-block;
}

#otherkit>picture>img {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
    border-radius: 1ex;
    overflow: hidden;
    background-image: linear-gradient(to bottom, hsl(0 0% 40%), hsl(0 0% 20%));
}



footer {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    text-align: center;
    padding: 10px 30px;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    bottom: 0;
    font-size: 1em;
}

#innerfooter {
    display: flex;
    align-items: center;
    justify-content: space-between;    
    margin-bottom: 0.3em;
}


@media only screen and (max-width:768px) {
    footer {
        padding: 10px 10%;
        width: 100%;
    }

    #innerfooter {
        flex-direction: row;
        font-size: 0.8em;
        
    }

    #futer-ul {
        margin-top: 20px;
    }

    #futer-ul li {
        display: block;
        margin: 0.5em 0;
    }
}

@media only screen and (max-width:420px){
    footer{
        width: 100%;
    }
    #innerfooter{
        flex-direction: column;
    }
}


.navigations {
    text-align: center;
    margin-top: 20px;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.active {
    background-color: #333;
}

.media-scroller li {
    max-width: 100%;
}

picture>img {
    max-width: 100%;
    height: auto;
}

.cardBox {
    float: left;
    perspective: 800px;
    transition: all 0.3s ease 0s;

}

.cardBox:hover .cardds {
    transform: rotateY(180deg);
}

.cardds {
    background: #222;
    cursor: default;
    height: 100%;
    min-width: 400px;
    transform-style: preserve-3d;
    transition: transform 0.4s ease 0s;
    -webkit-animation: giro 1s 1;
    animation: giro 1s 1;
}

.cardds .front,
.cardds .back {
    backface-visibility: hidden;
    box-sizing: border-box;
    color: white;
    display: block;    
    padding-top: 1em;
    padding-right: 2em;
    padding-bottom: 7em;
    position: absolute;
    text-align: center;
    
}

.front p {
    font-size: 1rem;
}

.cardds .back {
    transform: rotateY(180deg);
}

#productsImg {
    height: auto;
    width: auto;
}

@-webkit-keyframes giro {
    from {
        transform: rotateY(180deg);
    }

    to {
        transform: rotateY(0deg);
    }
}

@keyframes giro {
    from {
        transform: rotateY(180deg)
    }

    to {
        transform: rotateY(0deg);
    }
}

@media screen and (max-width:767px) {
    .cardBox {
        margin-left: 2.8%;
        margin-top: 3%;
        width: 46%;
    }

    .cardds {
        height: 285px;
    }
}

@media screen and (max-width:480px) {
    .cardBox {
        width: 34.5%;
    }

    .cardds {
        height: 260px;
        width: 100px;
    }
}


/* .card{ */
/* width: 200px;
    height: 300px; */
/* perspective: 1000px; */
/* }
.card-inner{
    width: 100%;
    height: 100%;
    position: absolute;
   
    transition: transform 0.5s;
    backface-visibility: hidden;
}

.card-front{
    display: flex;
    justify-content:center;
    align-items:center;
    transform: rotateY(0deg);
}
.card-back {
    display: flex;
    justify-content:center;
    align-items:center;
    transform: rotateY(180deg);    
}
.card:hover .card-inner {
    transform: rotateY(180deg);
} */